.best-sellers-section {
  text-align: center;
  padding: 40px 0;
  background-color: #f8f8f8;
}

.section-title {
  font-size: 2.5em;
  font-weight: bold;
  margin-bottom: 15px;
  color: #333;
}

.section-description {
  font-size: 1.1em;
  color: #666;
  max-width: 700px;
  margin: 0 auto 30px auto;
  line-height: 1.5;
}

.product-carousel {
  display: flex;
  overflow-x: scroll; 
  -webkit-overflow-scrolling: touch;
  padding-bottom: 0; 
  justify-content: flex-start;
  scroll-snap-type: x mandatory; 

  
  scrollbar-width: none; 
  -ms-overflow-style: none; 
}


.product-carousel::-webkit-scrollbar {
  display: none;
  width: 0;
  height: 0; 
}

.product-carousel > .product-card {
  scroll-snap-align: start;
  flex-shrink: 0;
  width: 200px; 
  margin: 0 15px; 
}


@media (max-width: 768px) {
  .section-title {
    font-size: 2em;
  }
  .section-description {
    font-size: 1em;
    padding: 0 15px;
  }
  .product-carousel {
    justify-content: initial;
  }
}