.images-container {
  display: flex;
  width: 100vw;
 
  min-height: 75vh; 
  overflow: hidden;
  position: relative;
  
}

.image-wrapper {
  position: relative;
  flex: 1;
  width: 50%; 
  overflow: hidden;
 
  transition: transform 0.5s ease-in-out;
}

.image-wrapper:hover {
  transform: scale(1.05); 
}


.full-width-image {
  width: 100%; 
  height: 100%; 
  display: block;
  object-fit: cover; 
  
}




.text-overlay {
  position: absolute;
  top: 50%;
  transform: translateY(-50%); 
  color: black; 
  padding: 0 5%;
 
  text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.7);
  z-index: 2;
  text-align: left;
  width: 40%;
  left: 5%;
  
}



.overlay-heading {
  font-size: 1.2em;
  margin-bottom: 5px;
  font-weight: bold;
  letter-spacing: 1px;
}

.overlay-subheading {
  font-size: 2.5em;
  font-weight: bold;
  line-height: 1.1;
  margin-bottom: 15px;
}

.overlay-description {
  font-size: 0.9em;
  line-height: 1.4;
  margin-bottom: 20px;
}

.overlay-button {
  background: transparent;
  color: black; /* Button text color changed to black */
  border: 2px solid white;
  background-color: white; /* Button border color changed to black */
  text-decoration: none;
  padding: 10px 20px;
  font-size: 1em;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s, transform 0.3s ease; 
}

.overlay-button:hover {
  background-color: rgb(212,175,55); 
  color: white; 
  transform: scale(1.05);
}



@media (max-width: 768px) {
  .images-container {
    flex-direction: column;
    min-height: auto; 
  }

  .image-wrapper {
    width: 100%;
   
    height: 50vh; 
  }

  .text-overlay {
    width: 80%;
    left: 10%;
    padding: 0;
    top: 20%;
    transform: none; 
  }

  .overlay-subheading {
    font-size: 2em;
  }
}

@media (max-width: 480px) {
  .overlay-heading {
    font-size: 1em;
  }
  .overlay-subheading {
    font-size: 1.8em;
  }
  .overlay-description {
    font-size: 0.8em;
  }
  .overlay-button {
    padding: 8px 15px;
    font-size: 0.9em;
  }
  .image-wrapper {
    height: 40vh; /* Adjust height further for very small screens */
  }
}