.product-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 0 15px;
  padding: 10px;
  background-color: transparent;
  width: 250px;
  flex-shrink: 0;
  transition: transform 0.3s ease;
  cursor: pointer;
}

.product-card:hover {
  transform: translateY(-5px) scale(1.02);
}

.product-card-link {
  text-decoration: none;
  color: inherit;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.product-image {
  width: 100%;
  max-height: 180px;
  object-fit: cover;
  margin-bottom: 10px;
}

.product-brand {
  font-size: 0.9em;
  color: #555;
  margin-bottom: 5px;
}

.stars {
  margin-bottom: 5px;
  color: #ffc107;
}

.star-empty {
  color: #ccc;
}

.product-price {
  font-size: 1.1em;
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
}

.product-shop-button {
  background: transparent;
  color: black;
  border-radius: 5px;
  border: 1px solid black;
  padding: 8px 15px;
  font-size: 0.9em;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
  pointer-events: none; 
}

.product-shop-button:hover {
  background-color: rgb(212,175,55);
  color: white;
  border-color: rgb(212,175,55);
}